// Colors
$body-bg: #ffffff;
$brand-primary: #00854B;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;
$bg-default: #ffffff;
$laravel-border-color: darken($body-bg, 10%);
$text-color: #666;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;

// Borders
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Navbar
$navbar-default-bg: $bg-default;
$navbar-default-color: $brand-primary;
$navbar-default-link-active-bg: $bg-default;
$navbar-default-link-active-color: $brand-primary;
$navbar-default-link-hover-color: $brand-primary;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
